body						{	margin: 0px;
								background-color: #eaeaea;
							}
							
.notice						{	background-color: #990000;
								overflow: auto;
								width: 100%;
							}
														
.notice_container			{	display: block;
								list-style: none;
								margin: 0px;
								padding-left: 15px;
								width: 15000px;
							}
							
.notice_text				{	color: #ffffff;
								display: block;
								float: left;
								font-size: 48px;
								padding: 10px 0px;
								text-shadow: 1px 1px 1px #c5c1aa;
							}
						
#banner						{	background-image: url('../images/splitrock_reservoir.jpg');
								background-size: 100% 100%;
								background-color: #ffffff;
								height: 400px;
								width: 100%;
							}

.banner_logo				{	display: inline-block;
								background-image: url('../images/campmarcella_logo@2x.png');
								background-size: 100% 100%;
								background-color: #d1e1ed;
								height: 400px;
								width: 400px;		
							}
				
.banner_text				{	display: inline-block;
								font-size: 128px;
								padding-top: 136px;
								padding-left: 30px;
								position: absolute;
								text-shadow: 1px 1px 1px #555555;
							}
			
#switchform					{	display: inline-block;
								padding-top: 30px;
								position: absolute;
								right: 0px;
								width: 400px;					
							}
				
#form-item					{	font-size: 32px;
							}
						
#navigationbar				{	display: inline-block;
								background: #a6c6de; 
								height: 42px;
								width: 100%;							
							}
						
#tab_nav					{	background-color: #82adcf;
								float: left;
								width: 400px;
							}
				
.tab_nav-item				{	border-bottom: 2px solid #a6c6de;
								font-size: 48px;
								height: 72px;
								margin: 0px;
								padding-left: 30px;						
								text-shadow: 1px 1px 1px #555555; 
							}

.tab_nav-item_select		{	background-color: #6096bf;
								border-bottom: 2px solid #a6c6de;
								font-size: 48px;
								height: 72px;
								margin: 0px;
								padding-left: 30px;							
								text-shadow: 1px 1px 1px #555555; 
							}
						
.tab_nav-item:hover			{	background-color: #6096bf;
							}
						
				
#content-top				{	background-color: #eaeaea;
								width: auto;
							}
									
#slideshow_container		{	background-color: #dedede;
								position: relative;
								margin-left: 400px;
								width: auto;							
							}
						
.fluid_container			{	margin: auto; 
								max-width: 1000px; 
								width: 100%;	
							}
							
.caption					{	font-size: 24px;
							}
				
#content					{	background-color: #eaeaea;
								position: relative;
								margin-left: 400px;
								width: auto;
							}
						
#entry						{	border-bottom: 1px solid #aaaaaa;
								border-left: 1px solid #aaaaaa;
								border-right: 1px solid #aaaaaa;
								margin-bottom: 15px;
							}
						
#entry_header				{	color: #ffffff;
								text-shadow: 1px 1px 1px #555555; 
								background-color: #6096bf;
								height: 54px;
								width: 100%;
								font-size: 36px;	
							}	
						
.entry_header_text			{	padding-left: 30px;
								padding-top: 6px;
							}
						
#entry_content				{	background-color: #ffffff;
								font-size: 24px;
								padding: 30px;
								text-align: justify;							
							}
							
a:link 						{	color: #536980;
							}
						
a:visited 					{	color: #536980;
							}
						
a:hover 					{	color: #536980;
							}
						
a:active 					{	color: #536980;
							}

a.nav:link 					{	color: #ffffff;
								text-decoration: none;
							}
						
a.nav:visited 				{	color: #ffffff;
								text-decoration: none;
							}
						
a.nav:hover 				{	color: #ffffff;
								text-decoration: none;
							}
						
a.nav:active 				{	color: #ffffff;
								text-decoration: none
							}						