body					{	margin: 0px;
							background-color: #151515;
						}
						
#banner					{	background-image: none;
							background-size: 100% 100%;
							background-color: #000000;
							height: 400px;
							width: 100%;
						}

#bannerlogo				{	background-image: url('../../images/campmarcella_logo_highcontrast.png');
							background-size: 100% 100%;
							display: inline-block;
							background-color: #121212;
							height: 400px;
							width: 400px;		
						}
				
#bannertext				{	display: inline-block;
							position: absolute;
							font-size: 125px;
							padding-top: 122.5px;
							padding-left: 30px;
							color: #ffffff;
						}
			
#switchform				{	display: inline-block;
							position: absolute;
							padding-top: 30px;
							right: 0px;
							width: 400px;	
						}
						
#form-item				{	font-size: 32px;
							background-color: #000000;
							color: #ffffff;
						}
						
#navigationbar			{	display: inline-block;
							height: 50px;
							width: 100%;
							background: #212121; 
						}
						
.navigation_container	{	position: relative;
							left: 400px;							
						}
				
.navigation_link		{	position: relative;
							font-size: 42px;
							padding: 2px 30px;							
							text-shadow: 2px 2px 2px #aaaaaa;
							top: 2px;
						}
									
.navigation_link:hover	{	background-color: #454545;
						}
						
#tab_nav					{	background-color: #828282;
								float: left;
								width: 400px;
							}
				
.tab_nav-item				{	border-bottom: 2px solid #a6a6a6;
								font-size: 48px;
								height: 72px;
								margin: 0px;
								padding-left: 30px;						
								text-shadow: 1px 1px 1px #aaaaaa; 
							}

.tab_nav-item_select		{	background-color: #606060;
								border-bottom: 2px solid #a6a6a6;
								font-size: 48px;
								height: 72px;
								margin: 0px;
								padding-left: 30px;							
								text-shadow: 1px 1px 1px #aaaaaa; 
							}
						
.tab_nav-item:hover			{	background-color: #606060;
							}
						
#content					{	background-color: #151515;
								color: #ffffff;
								position: relative;
								margin-left: 400px;
								text-shadow: 1px 1px 1px #aaaaaa; 
								width: auto;
							}
						
#entry						{	border-bottom: 1px solid #555555;
								border-left: 1px solid #555555;
								border-right: 1px solid #555555;
								margin-bottom: 15px;
							}
						
#entry_header				{	background-color: #606060;
								height: 54px;
								width: 100%;
								font-size: 36px;	
							}	
						
.entry_header_text			{	padding-left: 30px;
								padding-top: 6px;
							}
						
#entry_content				{	background-color: #000000;
								font-size: 24px;
								padding: 30px;
								text-align: justify;							
							}
						
a:link 						{	color: #acacac;
							}
						
a:visited 					{	color: #acacac;
							}
						
a:hover 						{	color: #acacac;
							}
						
a:active 					{	color: #acacac;
							}

a.nav:link 					{	color: #ffffff;
								text-decoration: none;
							}
						
a.nav:visited 				{	color: #ffffff;
								text-decoration: none;
							}
						
a.nav:hover 					{	color: #ffffff;
								text-decoration: none;
							}
						
a.nav:active 				{	color: #ffffff;
								text-decoration: none
							}
						
table					{	font-size: 24px;
							color: #ffffff;
						}
						
#button					{	font-size: 18px;
						}
						
::-moz-selection		{	background-color: #000000;
							color: #ffffff;
						}

::-selection			{	background-color: #000000;
							color: #ffffff;
						}